/* /Layouts/MainLayout.razor.rz.scp.css */
@namespace PgSearch
.page[b-7lyes0qlq0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-7lyes0qlq0] {
    flex: 1;
}

/* /Shared/DefaultLayout.razor.rz.scp.css */
.page[b-cvc3r5umkc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-cvc3r5umkc] {
    flex: 1;
}

