@import '../_content/WpfLayout.Blazor/WpfLayout.Blazor.bundle.scp.css';

/* search/Shared/DefaultLayout.razor.rz.scp.css */
.page[b-cvc3r5umkc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-cvc3r5umkc] {
    flex: 1;
}

